{% if site.bios %}
  <section class="section typeset">
    <ul class="list list--bios">
      {% for bio in site.bios %}
        <li class="item item--bio">
          <article class="article article--bio">
            <img src="{{ bio.image }}" class="bio-image" alt="{{ bio.name }}">
            <h2>{{ bio.name }}</h2>
            {% include bio-meta.html %}  <!-- Include bio meta info -->
            <div class="bio-info">
              {{ bio.bio }}
            </div>
          </article>
        </li>
      {% endfor %}
    </ul>
    {% include bio-pagination.html %}  <!-- Include pagination if you created it -->
  </section>
{% else %}
  <section class="section typeset">
    <p>No bios available.</p>
  </section>
{% endif %}
