---
layout: default
---

{% include site-header.html %}

<main class="main container">
  <div class="content">
    <article class="article article--page typeset">

      {% if site.bios %}
        <section class="carousel slide" id="bioCarousel" data-ride="carousel">
          <div class="carousel-inner">
            {% for bio in site.bios %}
              <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="text-center">
                  <img src="{{ bio.image | relative_url }}" alt="{{ bio.name }}" class="bio-image" style="max-height: 300px; object-fit: cover; width: auto;">
                </div>
                <div class="carousel-caption d-none d-md-block" style="background: rgba(0, 0, 0, 0.7); padding: 20px; border-radius: 5px; text-align: center; position: static;">
                  <h4 style="margin-bottom: 10px;">{{ bio.name }}</h4>
                  <p style="text-align: justify;">{{ bio.bio }}</p>
                  <p>
                    Contacto: <a href="mailto:{{ bio.email }}">{{ bio.email }}</a>
                  </p>
                </div>
              </div>
            {% endfor %}
          </div>
          <a class="carousel-control-prev" href="#bioCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#bioCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </section>
      {% else %}
        <h1>{{ page.title }}</h1>
        <p>No bios available.</p>
      {% endif %}
    </article>
  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}
</main>

{% include site-footer.html %}

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery and Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
.carousel-control-prev,
.carousel-control-next {
  top: 10%; /* Ajusta esto para moverlas verticalmente */
  transform: translateY(-50%); /* Centra las flechas verticalmente */
}
</style>
