---
layout: default
---

{% include site-header.html %}

<main class="main container">

  <div class="content">

    <article class="article article--page typeset">

      <div class="bio-list">
        {% for bio in site.data.bios %}
          <div class="bio">
            <img src="{{ bio.image }}" class="bio-image" alt="{{ bio.name }}">
            <h2>{{ bio.name }}</h2>
            <div class="bio-info">
              {{ bio.role }}<br>
              {{ bio.bio }}
            </div>
          </div>
        {% else %}
          <p>No bios available.</p>  <!-- Optional: Message if no bios -->
        {% endfor %}
      </div>

    </article>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
