---
layout: default
---

{% include site-header.html %}

<main class="main container">

  <div class="content">

    <article class="article article--page typeset">

      <h1>{{ bio.name }}</h1>

      <div class="bio-list">
        {% for bio in site.data.bios %}
          <div class="bio">
            <img src="{{ bio.image }}" alt="{{ bio.name }}" class="bio-image">
            <div class="bio-info">
              <strong>{{ bio.name }}</strong> - {{ bio.role }}<br>
              {{ bio.bio }}
            </div>
          </div>
        {% endfor %}
      </div>

    </article>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}
